<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
</style>
<body>


<table>
    <tr>
        <th>Product</th>
        <th colspan="2">Initial Price</th>
        <th>New Price</th>
    </tr>
    <tr>
        <td>Kam</td>
        <td colspan="2">100</td>
        <td>N/A</td>
    </tr>
    <tr>
        <th>Customer</th>
        <th>Fixed Discount</th>
        <th>Variable Discount</th>
        <td></td>
    </tr>
    <tr>
        <td>Jos</td>
        <td>10</td>
        <td>0%</td>
        <td>90</td>
    </tr>
    <tr>
        <th>Customer's group(s)</th>
        <th>Fixed Discount</th>
        <th>Variable Discount</th>
        <td></td>
    </tr>
    <tr>
        <td>Telenet</td>
        <td>10</td>
        <td>5%</td>
        <td></td>
    </tr>
    <tr>
        <td>Marketing</td>
        <td>5</td>
        <td>20%</td>
        <td></td>
    </tr>
    <tr>
        <th>Group Discount Result</th>
        <th>Fixed (total)</th>
        <th>Variable (highest)</th>
        <td></td>
    </tr>
    <tr>
        <td>//</td>
        <td>15</td>
        <td>20% of PRICE - customer fixed</td>
        <td></td>
    </tr>
</table>


</body>
</html>